<div class="container">
    <div class="container" id="aboutContent">
        <div id="mission">
            <h1 style="padding-top: 15px">Our Mission</h1>
            <p style="padding-top: 15px; font-size: 18px;">To provide high-quality chemical and compound tests for companies needing in-depth assay analysis</p>
        </div>
        <hr style="border-top-color: #116381" />
        <div>
            <h1>About</h1>
            <div id="about">
                <p>
                    At Northwest Labs, we have the best and brightest scientists in the world ready and eager to test any material they are given.
                    We offer the highest quality assay analysis with the best customer experience in the market.
                </p>
                <p>
                    If your company has a chemical compound or drug that needs to be tested, there is no better place to determine its characteristics.
                    With our pharmaceutical lab in Singapore and our business headquarters in Seattle, you can rest assured that your product will be
                    analyzed properly and returned to you prompty with accurate documentation.
                </p>
                <br />
            </div>
        </div>
    </div>
</div>