@{
    ViewBag.Title = "Northwest Labs Homepage";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<header class="masthead">
    <div class="intro-text overlay">
        <div class="intro-heading text-uppercase">Northwest Labs Pharmaceutical</div>
        <div class="intro-lead-in">In-Depth Assay Analysis</div>
        <a class="btn btn-color btn-xl text-uppercase js-scroll-trigger" href="@Url.Action("About", "Home")">Learn More &raquo;</a>
    </div>
</header>