
@{
    ViewBag.Title = "Login";
}

<h2>Employee Login</h2>

<hr />

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <label for="email">Email</label>
            @Html.TextBox("Email")
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            @Html.Password("Password")
        </div>

        <div class="form-group">
            <div>
                <button type="submit">Login</button>
            </div>
        </div>

        <div>
            <p style="font-style: italic; font-size: larger" class="text-warning">@ViewBag.Message</p>
        </div>
    </div>
}